/*

!/src/
!.gitignore
!/README.md

# --- Données et Modèles (ETL avec sous-dossiers) ---
!src/etl/             
!src/etl/*/            
!src/etl/**/*.ipynb     

# Formats de données et modèles (partout)
*.csv
*.xls
*.xlsx
*.parquet
*.pickle
*.pkl
*.h5
*.joblib
*.json

# Logs d'expérimentations MLflow
**/mlruns/

# --- Sécurité et Credentials (CRITIQUE) ---

**/.env
src/model/credentials.toml
**/business-risk/.streamlit/

# --- Sorties de scripts / UML ---
src/uml/*.png

# --- Python & Environnement ---
__pycache__/
*.py[cod]
.venv/
venv/
.DS_Store